div(class='col-12 col-md-4 col-sm-4 mb-grid-gutter')
  a(href="goods/"+val['slug'])
    img(src='images/'+val['image'] class="card-img-top")
  div(class='card-body py-4 text-center')
    h3(class='h5 mt-1') #{val['name']}
    p(class='text-center') #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} rub
    ul(class='card-actions')
     li
     button(
     data-goods_id=val['id']
     type="button"
     class='btn btn-danger add-to-card'
     ) to card





